%h3 Online

= render :partial => 'characters/table', :locals => { :characters => @online}

- content_for :subheader do
  %h2
    = @realm.name
    = '(%s up)'  % time_ago_in_words(@realm.uptime.start_time)
