[submodule "vendor/plugins/make_resourceful"]
	path = vendor/plugins/make_resourceful
	url = git://github.com/hcatlin/make_resourceful.git
[submodule "vendor/plugins/sprockets-rails"]
	path = vendor/plugins/sprockets-rails
	url = git://github.com/sstephenson/sprockets-rails.git
[submodule "vendor/plugins/table_for"]
	path = vendor/plugins/table_for
	url = git://github.com/matthuhiggins/table_for.git
