/* line 141, ../../app/stylesheets/_formtastic_base.sass */
.formtastic ul, .formtastic ol, .formtastic legend, .formtastic p {
  margin: 0;
  padding: 0; }
/* line 144, ../../app/stylesheets/_formtastic_base.sass */
.formtastic li {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px; }
/* line 150, ../../app/stylesheets/_formtastic_base.sass */
.formtastic fieldset {
  display: block;
  *display: inline-block; }
  /* line 98, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic fieldset:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
/* line 154, ../../app/stylesheets/_formtastic_base.sass */
.formtastic abbr, .formtastic acronym {
  border: 0;
  font-variant: normal;
  font-weight: normal; }
/* line 159, ../../app/stylesheets/_formtastic_base.sass */
.formtastic ol, .formtastic ul {
  list-style: none; }
/* line 162, ../../app/stylesheets/_formtastic_base.sass */
.formtastic label {
  display: block;
  *display: inline-block; }
  /* line 98, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic label:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
/* line 166, ../../app/stylesheets/_formtastic_base.sass */
.formtastic input, .formtastic textarea {
  vertical-align: middle; }
/* line 170, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .check_boxes input, .formtastic .radio input {
  margin: 0; }
/* line 172, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .check_boxes label, .formtastic .radio label {
  cursor: pointer; }
/* line 175, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .hidden {
  display: none; }
/* line 179, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .date li, .formtastic .time li, .formtastic .datetime li {
  float: left;
  width: auto;
  clear: none; }
/* line 183, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .date label, .formtastic .time label, .formtastic .datetime label {
  display: none;
  width: auto; }
/* line 186, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .date input, .formtastic .time input, .formtastic .datetime input {
  display: inline;
  margin: 0;
  padding: 0; }
/* line 191, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .errors {
  list-style: square; }
  /* line 193, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic .errors li {
    padding: 0;
    border: none;
    display: list-item;
    float: none;
    clear: both; }
/* line 199, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .inputs {
  z-index: 99; }
/* line 202, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .buttons li {
  float: left; }
/* line 205, ../../app/stylesheets/_formtastic_base.sass */
.formtastic li {
  *display: inline-block;
  display: block; }
  /* line 98, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  /* line 208, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li fieldset {
    border: none;
    position: relative;
    margin-top: 0px; }
  /* line 212, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li legend {
    display: block;
    margin-bottom: 0; }
  /* line 215, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li .label {
    display: block;
    clear: both;
    background: transparent; }
  /* line 220, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li ol {
    float: left;
    margin: 0; }
    /* line 223, ../../app/stylesheets/_formtastic_base.sass */
    .formtastic li ol li {
      padding: 0;
      border: 0;
      display: inline; }
/* line 234, ../../app/stylesheets/_formtastic_base.sass */
.formtastic fieldset {
  width: 100%; }
/* line 236, ../../app/stylesheets/_formtastic_base.sass */
.formtastic ol {
  padding-left: 0; }
/* line 238, ../../app/stylesheets/_formtastic_base.sass */
.formtastic input {
  clear: both;
  float: none; }
/* line 241, ../../app/stylesheets/_formtastic_base.sass */
.formtastic li {
  display: block;
  clear: both;
  float: none;
  width: 100%; }
  /* line 244, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li ol {
    padding: 0; }
  /* line 246, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li li {
    clear: none;
    width: auto; }
  /* line 250, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li fieldset legend, .formtastic li fieldset legend .label {
    display: block;
    clear: both; }
  /* line 253, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li fieldset .label {
    position: relative; }
  /* line 255, ../../app/stylesheets/_formtastic_base.sass */
  .formtastic li fieldset label, .formtastic li fieldset input {
    width: auto; }
/* line 258, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .date ol, .formtastic .time ol, .formtastic .datetime ol {
  width: 100%; }
/* line 260, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .date li, .formtastic .time li, .formtastic .datetime li {
  display: inline;
  clear: none;
  float: left;
  padding-right: 0; }
/* line 266, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .checkbox li, .formtastic .radio li {
  display: block; }
/* line 268, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .checkbox input, .formtastic .radio input {
  border: none; }
/* line 270, ../../app/stylesheets/_formtastic_base.sass */
.formtastic label {
  display: block;
  clear: both;
  float: none;
  width: auto; }
/* line 273, ../../app/stylesheets/_formtastic_base.sass */
.formtastic input, .formtastic textarea {
  width: auto; }
/* line 278, ../../app/stylesheets/_formtastic_base.sass */
.formtastic select {
  width: auto; }
/* line 283, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .errors li {
  display: list-item; }
/* line 286, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .buttons ol {
  padding-left: 0;
  padding-right: 0; }
/* line 289, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .buttons li {
  float: left;
  width: auto;
  clear: none;
  display: inline; }
/* line 297, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .buttons input {
  width: auto; }
/* line 302, ../../app/stylesheets/_formtastic_base.sass */
.formtastic #errorExplanation {
  width: 100%; }
/* line 304, ../../app/stylesheets/_formtastic_base.sass */
.formtastic .label {
  #left: -0.5em;
  #position: relative; }

/* line 8, ../../app/stylesheets/_forms.sass */
form fieldset {
  border: none;
  padding: 0; }
  /* line 12, ../../app/stylesheets/_forms.sass */
  form fieldset label {
    font-weight: bold;
    text-transform: uppercase; }
/* line 20, ../../app/stylesheets/_forms.sass */
form .inputs .string input, form .inputs .string textarea, form .inputs .text input, form .inputs .text textarea, form .inputs .password input, form .inputs .password textarea, form .inputs .numeric input, form .inputs .numeric textarea {
  width: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid #b9b9b9;
  padding: 5px;
  font-size: 15px; }
/* line 29, ../../app/stylesheets/_forms.sass */
form .inputs .select select {
  font-size: 15px; }
/* line 34, ../../app/stylesheets/_forms.sass */
form .inputs .numeric input {
  width: 15%; }
/* line 39, ../../app/stylesheets/_forms.sass */
form .inputs ol li {
  margin: 1em 0; }

/* line 15, ../../app/stylesheets/_layout.sass */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
  color: #44484d; }

/* line 21, ../../app/stylesheets/_layout.sass */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #30a4b1; }
  /* line 18, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: white; }
  /* line 25, ../../app/stylesheets/_layout.sass */
  a:hover {
    background-color: #00727f; }

/* line 28, ../../app/stylesheets/_layout.sass */
p {
  margin: 10px 0; }

/* line 31, ../../app/stylesheets/_layout.sass */
a.button, button, input[type=submit] {
  color: #30a4b1;
  background-color: #f5f5f5;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 8px center;
  padding: 6px 10px;
  border: 1px solid #b9b9b9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 47, ../../app/stylesheets/_layout.sass */
  a.button.create, button.create, input[type=submit].create {
    padding-left: 30px !important;
    background-image: url(../images/buttons/add.gif); }
  /* line 51, ../../app/stylesheets/_layout.sass */
  a.button.delete, button.delete, input[type=submit].delete {
    padding-left: 30px !important;
    background-image: url(../images/buttons/delete.gif); }
  /* line 55, ../../app/stylesheets/_layout.sass */
  a.button.alert, button.alert, input[type=submit].alert {
    padding-left: 30px !important;
    background-image: url(../images/buttons/alert.gif); }
  /* line 59, ../../app/stylesheets/_layout.sass */
  a.button.info, button.info, input[type=submit].info {
    padding-left: 30px !important;
    background-image: url(../images/buttons/info.gif); }
  /* line 63, ../../app/stylesheets/_layout.sass */
  a.button:hover, button:hover, input[type=submit]:hover {
    color: #00727f;
    background-color: #e6e6e6; }

/* line 67, ../../app/stylesheets/_layout.sass */
button {
  width: auto;
  overflow: visible;
  padding: 5px 10px 4px 7px; }
  /* line 72, ../../app/stylesheets/_layout.sass */
  button[type] {
    padding: 5px 10px 5px 7px;
    line-height: 17px; }

/* line 76, ../../app/stylesheets/_layout.sass */
*:first-child+html button[type] {
  padding: 5px 10px 4px 7px; }

/* line 80, ../../app/stylesheets/_layout.sass */
.flash {
  border: 1px solid;
  margin: 10px 0px;
  padding: 10px 10px 10px 36px;
  background-repeat: no-repeat;
  background-position: 10px center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

/* line 90, ../../app/stylesheets/_layout.sass */
.notice {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../images/statuses/notice.png'); }

/* line 95, ../../app/stylesheets/_layout.sass */
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('../images/statuses/success.png'); }

/* line 100, ../../app/stylesheets/_layout.sass */
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/statuses/warning.png'); }

/* line 105, ../../app/stylesheets/_layout.sass */
.error {
  color: #AA000C;
  background-color: #FFBABA;
  background-image: url('../images/statuses/error.png'); }

/* line 110, ../../app/stylesheets/_layout.sass */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #b9b9b9;
  margin: 15px 0; }
  /* line 116, ../../app/stylesheets/_layout.sass */
  table th, table td {
    padding: 10px;
    border-bottom: 1px solid #b9b9b9; }
  /* line 120, ../../app/stylesheets/_layout.sass */
  table th {
    background-color: #d7d7d7;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left; }
  /* line 128, ../../app/stylesheets/_layout.sass */
  table tr.even {
    background-color: #f5f5f5; }

/* line 131, ../../app/stylesheets/_layout.sass */
#document {
  width: 960px;
  position: relative;
  left: 50%;
  margin-left: -480px; }

/* line 139, ../../app/stylesheets/_layout.sass */
#header h1 {
  color: #44484d;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;
  margin: 15px 0; }

/* line 147, ../../app/stylesheets/_layout.sass */
#navigation {
  *display: inline-block;
  margin-bottom: 15px;
  background-color: #464646; }
  /* line 98, ../../app/stylesheets/_formtastic_base.sass */
  #navigation:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  /* line 153, ../../app/stylesheets/_layout.sass */
  #navigation ul {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    *display: inline-block;
    font-size: 15px;
    line-height: 15px; }
    /* line 98, ../../app/stylesheets/_formtastic_base.sass */
    #navigation ul:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    /* line 50, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #navigation ul li {
      list-style-type: none;
      margin-left: 0px;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      /* line 40, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #navigation ul li.first {
        padding-left: 0px; }
      /* line 42, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #navigation ul li.last {
        padding-right: 0px; }
    /* line 159, ../../app/stylesheets/_layout.sass */
    #navigation ul li {
      margin: 0;
      padding: 0; }
      /* line 163, ../../app/stylesheets/_layout.sass */
      #navigation ul li a {
        color: #ebebeb;
        display: block;
        padding: 15px;
        text-transform: uppercase;
        text-decoration: none; }
        /* line 170, ../../app/stylesheets/_layout.sass */
        #navigation ul li a:focus, #navigation ul li a:hover {
          background-color: #f7941d; }
      /* line 173, ../../app/stylesheets/_layout.sass */
      #navigation ul li.current {
        background-color: #30a4b1; }

/* = Search Form
 * ------------------------------------------------------ */
/* line 179, ../../app/stylesheets/_layout.sass */
#search {
  float: right;
  margin: 10px; }
  /* line 183, ../../app/stylesheets/_layout.sass */
  #search input {
    background-image: url(../images/icons/search.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    border: 1px solid white;
    margin: 0;
    padding: 3px 3px 3px 24px;
    font-size: 14px; }

/* line 194, ../../app/stylesheets/_layout.sass */
#subheader {
  background-color: white;
  border-bottom: 1px solid #b9b9b9;
  padding: 15px;
  margin: -15px -15px 15px -15px; }
  /* line 200, ../../app/stylesheets/_layout.sass */
  #subheader h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 0; }

/* line 207, ../../app/stylesheets/_layout.sass */
#content {
  *display: inline-block;
  background-color: white;
  border: 1px solid #b9b9b9;
  padding: 15px; }
  /* line 98, ../../app/stylesheets/_formtastic_base.sass */
  #content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  /* line 213, ../../app/stylesheets/_layout.sass */
  #content .mod {
    text-align: right; }
    /* line 216, ../../app/stylesheets/_layout.sass */
    #content .mod form {
      display: inline; }
