/* line 13, ../../app/stylesheets/_layout.sass */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
  color: #44484d; }

/* line 19, ../../app/stylesheets/_layout.sass */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #30a4b1; }
  /* line 18, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: white; }
  /* line 23, ../../app/stylesheets/_layout.sass */
  a:hover {
    background-color: #00727f; }

/* line 26, ../../app/stylesheets/_layout.sass */
p {
  margin: 10px 0; }

/* line 29, ../../app/stylesheets/_layout.sass */
a.button, button {
  color: #30a4b1;
  background-color: #f5f5f5;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 8px center;
  padding: 6px 10px;
  border: 1px solid #b9b9b9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  /* line 45, ../../app/stylesheets/_layout.sass */
  a.button.add, button.add {
    padding-left: 30px !important;
    background-image: url(../images/buttons/add.gif); }
  /* line 49, ../../app/stylesheets/_layout.sass */
  a.button.delete, button.delete {
    padding-left: 30px !important;
    background-image: url(../images/buttons/delete.gif); }
  /* line 53, ../../app/stylesheets/_layout.sass */
  a.button.alert, button.alert {
    padding-left: 30px !important;
    background-image: url(../images/buttons/alert.gif); }
  /* line 57, ../../app/stylesheets/_layout.sass */
  a.button.info, button.info {
    padding-left: 30px !important;
    background-image: url(../images/buttons/info.gif); }
  /* line 61, ../../app/stylesheets/_layout.sass */
  a.button:hover, button:hover {
    color: #00727f;
    background-color: #e6e6e6; }

/* line 65, ../../app/stylesheets/_layout.sass */
button {
  width: auto;
  overflow: visible;
  padding: 5px 10px 4px 7px; }
  /* line 70, ../../app/stylesheets/_layout.sass */
  button[type] {
    padding: 5px 10px 5px 7px;
    line-height: 17px; }

/* line 74, ../../app/stylesheets/_layout.sass */
*:first-child+html button[type] {
  padding: 5px 10px 4px 7px; }

/* line 78, ../../app/stylesheets/_layout.sass */
.flash {
  border: 1px solid;
  margin: 10px 0px;
  padding: 10px 10px 10px 36px;
  background-repeat: no-repeat;
  background-position: 10px center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

/* line 88, ../../app/stylesheets/_layout.sass */
.notice {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../images/statuses/notice.png'); }

/* line 93, ../../app/stylesheets/_layout.sass */
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('../images/statuses/success.png'); }

/* line 98, ../../app/stylesheets/_layout.sass */
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/statuses/warning.png'); }

/* line 103, ../../app/stylesheets/_layout.sass */
.error {
  color: #AA000C;
  background-color: #FFBABA;
  background-image: url('../images/statuses/error.png'); }

/* line 108, ../../app/stylesheets/_layout.sass */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #b9b9b9;
  margin: 15px 0; }
  /* line 114, ../../app/stylesheets/_layout.sass */
  table th, table td {
    padding: 10px;
    border-bottom: 1px solid #b9b9b9; }
  /* line 118, ../../app/stylesheets/_layout.sass */
  table th {
    background-color: #d7d7d7;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left; }
  /* line 126, ../../app/stylesheets/_layout.sass */
  table tr.even {
    background-color: #f5f5f5; }

/* line 129, ../../app/stylesheets/_layout.sass */
#document {
  width: 960px;
  position: relative;
  left: 50%;
  margin-left: -480px; }

/* line 137, ../../app/stylesheets/_layout.sass */
#header h1 {
  color: #44484d;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;
  margin: 15px 0; }

/* line 145, ../../app/stylesheets/_layout.sass */
#navigation {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 15px;
  background-color: #464646; }
  /* line 5, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #navigation {
    display: block; }
  /* line 151, ../../app/stylesheets/_layout.sass */
  #navigation ul {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    display: inline-block;
    font-size: 15px;
    line-height: 15px; }
    /* line 5, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    #navigation ul {
      display: block; }
    /* line 50, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #navigation ul li {
      list-style-type: none;
      margin-left: 0px;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      /* line 40, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #navigation ul li.first {
        padding-left: 0px; }
      /* line 42, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #navigation ul li.last {
        padding-right: 0px; }
    /* line 157, ../../app/stylesheets/_layout.sass */
    #navigation ul li {
      margin: 0;
      padding: 0; }
      /* line 161, ../../app/stylesheets/_layout.sass */
      #navigation ul li a {
        color: #ebebeb;
        display: block;
        padding: 15px;
        text-transform: uppercase;
        text-decoration: none; }
        /* line 168, ../../app/stylesheets/_layout.sass */
        #navigation ul li a:focus, #navigation ul li a:hover {
          background-color: #f7941d; }
      /* line 171, ../../app/stylesheets/_layout.sass */
      #navigation ul li.current {
        background-color: #30a4b1; }

/* = Search Form
 * ------------------------------------------------------ */
/* line 177, ../../app/stylesheets/_layout.sass */
#search {
  float: right;
  margin: 10px; }
  /* line 181, ../../app/stylesheets/_layout.sass */
  #search input {
    background-image: url(../images/icons/search.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    border: 1px solid white;
    margin: 0;
    padding: 3px 3px 3px 24px;
    font-size: 14px; }

/* line 192, ../../app/stylesheets/_layout.sass */
#subheader {
  background-color: white;
  border-bottom: 1px solid #b9b9b9;
  padding: 15px;
  margin: -15px -15px 15px -15px; }
  /* line 198, ../../app/stylesheets/_layout.sass */
  #subheader h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 0; }

/* line 205, ../../app/stylesheets/_layout.sass */
#content {
  overflow: hidden;
  display: inline-block;
  background-color: white;
  border: 1px solid #b9b9b9;
  padding: 15px; }
  /* line 5, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #content {
    display: block; }
  /* line 211, ../../app/stylesheets/_layout.sass */
  #content .mod {
    text-align: right; }
    /* line 214, ../../app/stylesheets/_layout.sass */
    #content .mod form {
      display: inline; }
  /* line 219, ../../app/stylesheets/_layout.sass */
  #content form p {
    margin: 20px 0; }
  /* line 222, ../../app/stylesheets/_layout.sass */
  #content form label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px; }
  /* line 227, ../../app/stylesheets/_layout.sass */
  #content form input[type=text], #content form textarea, #content form input.text {
    margin-top: 2px;
    border: 1px solid #b9b9b9;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 500px; }
    /* line 235, ../../app/stylesheets/_layout.sass */
    #content form input[type=text].short, #content form textarea.short, #content form input.text.short {
      width: 100px; }
  /* line 238, ../../app/stylesheets/_layout.sass */
  #content form textarea {
    height: 100px; }
  /* line 241, ../../app/stylesheets/_layout.sass */
  #content form em {
    font-style: italic; }
  /* line 244, ../../app/stylesheets/_layout.sass */
  #content form li {
    list-style: none;
    margin: 5px 0; }
    /* line 248, ../../app/stylesheets/_layout.sass */
    #content form li label {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      font-size: 15px;
      text-transform: none; }
