form

  fieldset
    border: none
    padding: 0

    ol
      padding: 0
    
      li 
        list-style: none
        margin-bottom: 1em

        label
          display: block
          font-weight: bold
          text-transform: uppercase
          font-size: 13px

    input[type=text], input[type=password],
    textarea, input.text
      margin-top: 2px
      border= 1px "solid" !border_color
      padding: 10px
      +serif-font
      font-size: 15px
      width: 500px

      &.short
        width: 100px

    textarea
      height: 100px
