@import formtastic_base.sass

.formtastic
  +stack-form

form

  fieldset
    border: none
    padding: 0

    label
      font-weight: bold
      text-transform: uppercase

    .string, .text, .password, .numeric
  
      input, textarea
        width: 50%
        +serif-font
        border= 1px "solid" !border_color
        padding: 5px
        font-size: 15px

    .select

      select
        font-size: 15px
      
    .numeric
    
      input
        width: 15%

    .check_boxes

      li label
        font-weight: normal
        text-transform: none

        legend
          font-size: 15px

    ol
  
      li
        margin: 1em 0


  fieldset.collapsible, fieldset.startClosed
    margin-bottom: 1em
    border= 1px "solid" !border_color
    padding: 10px
    width: auto

  fieldset.collapsed
    border:
      bottom: 0
      left: 0
      right: 0

  legend.collapsible
    font-weight: bold
    text-transform: uppercase
    font-size: 18px
  