# development:
#   adapter: mysql
#   database: manged
#   username: root
#   password:
#   host: localhost
  
development: &mangos
  adapter: mysql
  username: root
  password: mangos
  host: 192.168.1.155

mangos:
  <<: *mangos
  database: mangos

realmd:
  <<: *mangos
  database: realmd

characters:
  <<: *mangos
  database: characters

scriptdev2:
  <<: *mangos
  database: scriptdev2